<!doctype html>
<html>
<head>    
<link rel="stylesheet" href="css/public.css" />
<meta charset="utf-8">
<title>网商节</title>
</head>
<body>
<div class="wsb-main" id="lazywrap">
    <div class="intro">
        <div class="slogan_logo">
            <div class="logo">
                <img src="https://t.alipayobjects.com/images/rmsweb/T1hW4gXhdXXXXXXXXX.png" width="120" />
            </div>
            <div class="slogan">
                <ul class="slogan-list fn-clear">
                    <li class="slogan-list-item item-wu">
                        <img src="https://t.alipayobjects.com/images/rmsweb/T1GY8gXe0oXXXXXXXX.png" width="48" />
                    </li>
                    <li class="slogan-list-item item-two">
                        <img src="https://t.alipayobjects.com/images/rmsweb/T1ccFgXaVgXXXXXXXX.png" width="51" />
                    </li>
                    <li class="slogan-list-item item-bu">
                        <img src="https://t.alipayobjects.com/images/rmsweb/T1VrNgXhxvXXXXXXXX.png" width="34" />
                    </li>
                    <li class="slogan-list-item item-zhi">
                        <img src="https://t.alipayobjects.com/images/rmsweb/T1fr4gXcpqXXXXXXXX.png" width="25" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wsh-header">
        <div class="wsh-ct">
            <a href="#" class="wsh-logo" title="网商银行" seed="wangshangyinhang"><img src="https://img.alicdn.com/tps/TB1oU7oKpXXXXX_XXXXXXXXXXXX-508-156.png" width="254" height="78" alt="logo" /></a>
            <img class="wsh-tt" src="https://img.alicdn.com/tps/TB1e2bPKpXXXXbtXpXXXXXXXXXX-470-78.png" width="470" height="78" alt="时间轴" />
            <img class="wsh-tt" src="https://img.alicdn.com/tps/TB1rlzRKpXXXXcRXXXXXXXXXXXX-470-78.png" width="470" height="78" alt="时间轴" />
            <a class="wsb-guanz" id="addFavorite" rel="sidebar">抢先关注</a>
        </div>
    </div>
    <div class="wsh-count">
        <span class="counttxt">距狂欢开始</span>
        <div id="demo6">
            <div class="cd cd-large cd-slide" data-config="{'effect':'slide'}"><span class="clock">${d}${h}${m}</span></div>
        </div>
    </div>
    <div class="wsh-erwei">
        <a href="#" target="_self" class="wsh-ttop"><img src="https://img.alicdn.com/tps/TB1m2g1KpXXXXcbXVXXXXXXXXXX-150-41.png" width="150" height="41" alt="" /></a>
    </div>
    <div class="wsh-width1">
        <div class="wsh-width">
            <span class="wsh-gtxt wsh-gtxt0">网商贷优惠 提前领</span>
            <span class="wsh-stxt">网商贷年息9.5折贷款冰点价，仅限715当天</span>
            <ul class="wsh-part1 clearfix">
                <li>
                    <a href="#" target="_blank" seed="taobaofenhuichangyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB1dSQhKpXXXXcHXXXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">淘宝用户专享<br><em class="wsh-dai">贷款年息9.5折</em></span>
                        <span class="wsh-see wsh-see1"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" seed="tianmaofenhuichangyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB1D_zVKpXXXXX_aXXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">天猫用户专享<br><em class="wsh-dai">贷款年息9.5折</em></span>
                        <span class="wsh-see wsh-see2"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" seed="1688fenhuichangyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB19BvQKpXXXXXxapXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">1688用户专享<br><em class="wsh-dai">贷款年息9.5折</em></span>
                        <span class="wsh-see wsh-see3"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" seed="gongyingsfenhuichangyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB1jjrUKpXXXXbnaXXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">中国供应商用户专享<br><em class="wsh-dai">贷款年息9.5折</em></span>
                        <span class="wsh-see wsh-see3"></span>
                    </a>
                </li>
            </ul>
            <span class="wsh-gtxt wsh-gtxt1">红包折扣马上享</span>
            <ul class="wsh-part1 wsh-part2 clearfix">
                <li>
                    <a href="#" target="_blank" seed="xinrenfuyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB1Mgv7KpXXXXb8XFXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">信任付体验红包疯狂送<br><em class="wsh-dai">赊账不求人，想赊就赊</em></span>
                        <span class="wsh-see wsh-see5"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" seed="wangnongdaiyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB1Ehn_KpXXXXa3XFXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">旺农贷年息9.5折<br><em class="wsh-dai">为农民量身定制的贷款</em></span>
                        <span class="wsh-see wsh-see6"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" seed="wangshangappyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB1KIojKpXXXXcHXXXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">网商银行APP<br><em class="wsh-dai">多重好礼乐翻天</em></span>
                        <span class="wsh-see wsh-see7"></span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" seed="yulibaoyr">
                        <img data-ks-lazyload="https://img.alicdn.com/tps/TB1OrEgKpXXXXaXXpXXXXXXXXXX-490-240.png" width="490" height="240" alt="" />
                        <span class="wsh-huic">余利宝<br><em class="wsh-dai">商家的大额灵活理财产品</em></span>
                        <span class="wsh-see wsh-see8"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <link rel="stylesheet" href="https://g.alicdn.com/fi/act/common/css/foot-min.css" />
    <div id="myft" class="mybank-foot-wrap"></div>
    <script src="https://g.alicdn.com/fi/act/common/js/ft-min.js"></script>
</div>
</body>
</html>
<script>
    window._to = {
      st: Date.now(),
      role_id: '',
    };
</script>
<script src="https://as.alipayobjects.com/g/animajs/mtracker/2.1.2/??seed.js,mtracker.js"></script>
<script src="https://g.alicdn.com/??kissy/k/1.4.2/seed-min.js,tb/global/3.3.14/global-min.js" data-config="{combine:true}"></script>
<!-- <script src="https://g.alicdn.com/kg/kmd-adapter/0.1.5/index.js"></script> -->
<script>
    KISSY.use('node,kg/countdown/2.0.1/,io,datalazyload',function( S, Node, Countdown,IO,Lazyload) {
        var $ =S.all;
        var top = $(window).height();
        (function(){
            $(window).on("scroll", function(){
                if ($(window).scrollTop() > top) {
                    $(".wsh-ttop").show(.1);
                } else {
                    $(".wsh-ttop").hide(.1);

                }
            });
        })();
        (function(){
            var url=location.href;
            $("#addFavorite").attr("href",url);
             document.getElementById("addFavorite").onclick=function(){
                 bookmark();return false;
             };
         })();
        function bookmark(){
            var title=document.title;
            var url=location.href;
            if(window.sidebar){
                window.sidebar.addPanel(title,url,"");
            }
            else if(KISSY.UA.shell=="ie"){
                window.external.AddFavorite(url,title);
            }else {
                alert("您的浏览器不支持此功能，windows系统请按ctrl+D，Mac系统请按Cmd+D来加入收藏夹！");
            }
        } 
        function showf(n){
            $(".wsh-tt").hide();
            $(".wsh-tt").item(n).show();
            new Lazyload();
        }
        (function(){
            new IO({
                url:"https://loan.mybank.cn/act/time.htm?callback=callbackFunction",
                dataType: 'jsonp',
                success: function (d) {
                    var date = d.time;
                    // var daa = new Date("2016/07/11 00:00:00").getTime();
                    // console.log(daa);
                    var date1=1468166400000;//2016/07/11 00:00:00
                    var date2=1468511999000;//2016/07/14 23:59:59
                    var date3=1468512000000;//2016/07/15 00:00:00
                    var date4=1468598399000;//2016/07/14 23:59:59
                    var aa=(date2-date)/1000;
                    var aa1=(date4-date)/1000;
                    if(date<date2){
                        showf(0);
                        aaa(date2,aa);
                    }else if(date>date2){
                        showf(1);
                        $(".wsh-banner").show();
                        $(".counttxt").text("距狂欢结束");
                        $(".wsh-gtxt0").text("网商贷优惠 仅限今日");
                        $(".wsh-stxt").text("冰点折扣仅限715当天");
                        $(".wsh-gtxt1").text("红包折扣最后一天");
                        $(".wsh-width").addClass("wsh-widjoin");
                        aaa(date4,aa1);
                    }
                }
            })
        })(); 
        function aaa(time,el){
            $('#demo6 .cd').each(function(node) { 
            var cd = Countdown({
                el: node,
                stopPoint: time
            });
            cd.notify(0, function() {
                this.left = el;
                $(".counttxt").text("距狂欢结束");
            });
           
            });
        }
    new Lazyload({
        container: '#lazywrap',
        diff: 200,
        placeholder: '//gtd.alicdn.com/tps/i2/T1RyBdFndXXXbogjYy-500-300.png'
    });
    var time = setTimeout(function(){
        $(".logo").animate({"opacity":"1"},0);
        $(".item-wu").animate({"opacity":"1"},.5);
    },400);
    var time1 = setTimeout(function(){
        $(".item-two").animate({"opacity":"1"},.5);
    },800);
    var time2 = setTimeout(function(){
        $(".item-bu").animate({"opacity":"1"},.5);
    },1200);
    var time3 = setTimeout(function(){
        $(".item-zhi").animate({"opacity":"1"},.5);
    },1600);
    var time4 = setTimeout(function(){
        $(".intro").animate({"opacity":"0"},0);
        $(".intro").animate({"display":"none"},0.2);
    },2500);
});
</script>